.newGameBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/NewGame.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}
.newGameBtn:hover {
    -fx-padding: 50px 50px;
    -fx-background-color: lightgray;
}

.highScoreBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/HighScore.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}

.highScoreBtn:hover {
    -fx-background-color: lightgray;
    -fx-padding: 50px 50px;
}

.staticsBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/Statics.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}

.staticsBtn:hover {
    -fx-background-color: lightgray;
    -fx-padding: 50px 50px;
}

.settingsBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/Settings.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}

.settingsBtn:hover {
    -fx-background-color: lightgray;
    -fx-padding: 50px 50px;
}

.fullscreenBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/Fullscreen.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}

.fullscreenBtn:hover {
    -fx-background-color: lightgray;
    -fx-padding: 50px 50px;
}

.changeUserBtn {
    -fx-background-color:white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/changeUser.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}

.changeUserBtn:hover {
    -fx-background-color: lightgray;
    -fx-padding: 50px 50px;
}

.exitBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-background-image: url('./Resources/Icons/png/Shutdown.png');
    -fx-background-position: center;
    -fx-background-size: 66%;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30px 30px;
}

.exitBtn:hover {
    -fx-background-color: lightgray;
    -fx-padding: 50px 50px;
}


.newGameBtnDef {
    -fx-background-color: Blue;
    -fx-border-radius: 5px;
    -fx-padding: 10px 200px;
    -fx-max-width: 300px;
    -fx-effect: dropshadow(three-pass-box, royalblue, 5, 0, 10, 10);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.newGameBtnDef:hover {
    -fx-background-color: darkBlue;
    -fx-effect: dropshadow(three-pass-box, blue, 5, 0, 3, 3);
}
